Repository pace-neutrons/Horace, pull requests merged in 2021-04, with the labels that each got.

#646 SQW state as of 31-Mar-2021
  documentation/new_sqw_design/sqw-summary.md
Labels: DO_NOT_CI

#640 Write package install script for users
  CMakeLists.txt
  admin/CMakeLists.txt
  admin/horace_install.m
  admin/horace_on.m.template
Labels: Herbert_update_herbert_on_template

#641 Write installation instructions for users
  documentation/user_docs/docs/Download_and_setup.rst
Labels: do-not-merge, do-not-test

#633 Add ADR 23
  documentation/adr/0020-use-c-mex-api.md
  documentation/adr/0021-errors-and-warnings.md
  documentation/adr/0022-use-keyword-args.md
  documentation/adr/0023-error-format.md
Labels: DO_NOT_CI, Design, documentation

#607 Clean up a.d.d. for mpi framework
  documentation/add/04_mpi_framework.md
Labels: DO_NOT_CI, documentation

#648 Make sl7-nightly-2019b deploy
  tools/build_config/Jenkinsfile
Labels: CI, do-not-build
