Repository pace-neutrons/Horace, pull requests merged in 2021-02, with the labels that each got.

#552 Add MLint warnings to build
  CMakeLists.txt
  tools/bash/clone_herbert_branch.sh
  tools/build_config/Jenkinsfile
  tools/build_config/build.sh
Labels: Build, CI, tech-debt

#558 move graphics from old herbert %sqw to sqwdndbase
  horace_core/sqw/@DnDBase/DnDBase.m
  horace_core/sqw/@DnDBase/init_from_loader_struct_.m
  horace_core/sqw/@DnDBase/init_from_sqw_.m
  horace_core/sqw/@SQWDnDBase/IX_dataset_1d.m
  horace_core/sqw/@SQWDnDBase/IX_dataset_2d.m
  horace_core/sqw/@SQWDnDBase/IX_dataset_3d.m
  horace_core/sqw/@SQWDnDBase/SQWDnDBase.m
  horace_core/sqw/@SQWDnDBase/da.m
  horace_core/sqw/@SQWDnDBase/dd.m
  horace_core/sqw/@SQWDnDBase/de.m
  horace_core/sqw/@SQWDnDBase/dh.m
  horace_core/sqw/@SQWDnDBase/dl.m
  horace_core/sqw/@SQWDnDBase/dm.m
  horace_core/sqw/@SQWDnDBase/dp.m
  horace_core/sqw/@SQWDnDBase/ds.m
  horace_core/sqw/@SQWDnDBase/ds2.m
  horace_core/sqw/@SQWDnDBase/pa.m
  horace_core/sqw/@SQWDnDBase/paoc.m
  horace_core/sqw/@SQWDnDBase/pd.m
  horace_core/sqw/@SQWDnDBase/pdoc.m
  horace_core/sqw/@SQWDnDBase/pe.m
  horace_core/sqw/@SQWDnDBase/peoc.m
  horace_core/sqw/@SQWDnDBase/ph.m
  horace_core/sqw/@SQWDnDBase/phoc.m
  horace_core/sqw/@SQWDnDBase/pl.m
  horace_core/sqw/@SQWDnDBase/ploc.m
  horace_core/sqw/@SQWDnDBase/plot.m
  horace_core/sqw/@SQWDnDBase/plotover.m
  horace_core/sqw/@SQWDnDBase/pm.m
  horace_core/sqw/@SQWDnDBase/pmoc.m
  horace_core/sqw/@SQWDnDBase/pp.m
  horace_core/sqw/@SQWDnDBase/ppoc.m
  horace_core/sqw/@SQWDnDBase/ps.m
  horace_core/sqw/@SQWDnDBase/ps2.m
  horace_core/sqw/@SQWDnDBase/ps2oc.m
  horace_core/sqw/@SQWDnDBase/psoc.m
  horace_core/sqw/@SQWDnDBase/sliceomatic.m
  horace_core/sqw/@SQWDnDBase/sliceomatic_overview.m
  horace_core/sqw/@sqw/sqw.m
Labels: Herbert_sqw_rewrite_feature

#536 455 jenkins docs pipeline
  CMakeLists.txt
  cmake/PACE_Docs.cmake
  documentation/user_docs/docs/conf.py
  tools/build_config/Jenkinsfile
  tools/build_config/build.ps1
  tools/build_config/build.sh
Labels: CI, documentation

#540 508 Add fit functions to new sqw object
  _test/CMakeLists.txt
  _test/common_functions/simulate_spe_testfunc.m
  _test/test_change_crystal/test_change_crystal_1a.m
  _test/test_dnd/test_dnd_constructors.m
  _test/test_gen_sqw_workflow/gen_sqw_accumulate_sqw_tests_common.m
  _test/test_multifit/test_multifit_horace_1.m
  _test/test_multifit/test_multifit_horace_2.m
  _test/test_sqw/test_instrument_methods.m
  _test/test_sqw/test_mushroom_sqw.m
  _test/test_sqw/test_rundata_vs_sqw.m
  _test/test_sqw_class/test_migrated_apis.m
  _test/test_sqw_class/test_multifit_functions.m
  _test/test_sqw_file/test_sqw_file_read_write.m
  _test/test_sym_op/test_cut_sqw_sym.m
  _test/test_tobyfit/test_let/test_tobyfit_let_1.m
  _test/test_tobyfit/test_let/test_tobyfit_let_resfun_1.m
  _test/test_tobyfit/test_refine_crystal/test_tobyfit_refine_crystal_1.m
  _test/test_tobyfit/test_tobyfit_1.m
  _test/test_tobyfit/test_tobyfit_2.m
  _test/test_tobyfit/w110arr_as_separate_objects.mat
  horace_core/Tobyfit/adjust_aspect_option.m
  horace_core/Tobyfit/calculate_q.m
  horace_core/Tobyfit/dq_matrix_DGdisk.m
  horace_core/Tobyfit/dq_matrix_DGfermi.m
  horace_core/Tobyfit/energy_transfer_info.m
  horace_core/Tobyfit/instpars_DGdisk.m
  horace_core/Tobyfit/instpars_DGfermi.m
  horace_core/Tobyfit/refine_moderator_strip_pars.m
  horace_core/Tobyfit/sample_coords_to_spec_to_rlu.m
  horace_core/Tobyfit/title_squeeze.m
  horace_core/Tobyfit/tobyfit_DGdisk_resconv_init.m
  horace_core/Tobyfit/tobyfit_DGfermi_resconv_init.m
  horace_core/sqw/@SQWDnDBase/SQWDnDBase.m
  horace_core/sqw/@SQWDnDBase/dimensions_match.m
  horace_core/sqw/@rundatah/rundatah.m
  horace_core/sqw/@sqw/IX_dataset_1d.m
  horace_core/sqw/@sqw/IX_dataset_2d.m
  horace_core/sqw/@sqw/IX_dataset_3d.m
  horace_core/sqw/@sqw/adjust_aspect.m
  horace_core/sqw/@sqw/dimensions_match.m
  horace_core/sqw/@sqw/iplot.m
  horace_core/sqw/@sqw/mask_points.m
  horace_core/sqw/@sqw/multifit.m
  horace_core/sqw/@sqw/multifit_func.m
  horace_core/sqw/@sqw/multifit_sqw.m
  horace_core/sqw/@sqw/multifit_sqw_sqw.m
  horace_core/sqw/@sqw/noisify.m
  horace_core/sqw/@sqw/parse_pixel_indicies.m
  horace_core/sqw/@sqw/resolution_plot.m
  horace_core/sqw/@sqw/sigvar_get.m
  horace_core/sqw/@sqw/sqw.m
  horace_core/sqw/@sqw/tobyfit.m
  horace_core/sqw/@sqw/tobyfit_DGdisk_resconv.m
  horace_core/sqw/@sqw/tobyfit_DGdisk_resfun_covariance.m
  horace_core/sqw/@sqw/tobyfit_DGfermi_resconv.m
  horace_core/sqw/@sqw/tobyfit_DGfermi_resfun_covariance.m
  horace_core/sqw/multifit_subclasses/mfclass_Horace_sqw_sqw.m
Labels: Herbert_sqw_rewrite_feature

#582 Add skip CI based on labels
  tools/build_config/Jenkinsfile
Labels: do-not-build

#570 Make Horace linting ignore Herbert root
  CMakeLists.txt
Labels: Herbert_567_lint_ignore_herbert

#590 Fix builds skipping tests
  tools/build_config/Jenkinsfile
Labels: CI

#587 Set defaults in Jenkinsfile to allow easy addition of new params
  tools/build_config/Jenkinsfile
Labels: CI

#565 Create 0021-errors-and-warnings ADR
  documentation/adr/0021-errors-and-warnings.md
Labels: DO_NOT_CI, Design, documentation

#595 Add advanced multifit doc
  documentation/user_docs/docs/Advanced_Multifit.rst
  documentation/user_docs/docs/index.rst
Labels: do-not-build, documentation

#583 ADR for Python/MATLAB API conventions
  documentation/adr/0020-use-c-mex-api.md
  documentation/adr/0022-use-keyword-args.md
Labels: DO_NOT_CI
