Repository pace-neutrons/Horace, pull requests merged in 2021-01, with the labels that each got.

#501 Mask random pixels does not work
  _test/test_sqw/test_PixelData_operations.m
  _test/test_sqw/test_mask.m
  documentation/release_notes/v3.5.1.md
  horace_core/sqw/@sqw/mask_pixels.m
  horace_core/sqw/@sqw/mask_random_fraction_pixels.m
  horace_core/sqw/@sqw/mask_random_pixels.m
  horace_core/sqw/PixelData/@PixelData/compute_bin_data.m
  horace_core/sqw/PixelData/@PixelData/mask.m
  horace_core/sqw/PixelData/@PixelData/private/compute_bin_data_matlab_.m
  horace_core/sqw/PixelData/@PixelData/private/compute_bin_data_mex_.m
Labels: Herbert_rel_3_5

#512 Update 0002-use-github-for-documentation.md
  documentation/adr/0002-use-github-for-documentation.md
Labels: documentation

#496 Create 16-serialiser.md
  documentation/smg/16_serialiser.md
Labels: C++, documentation

#537 Add verbose
  admin/validate_horace.m
Labels: Testing
