Repository pace-neutrons/Horace, pull requests merged in 2022-11, with the labels that each got.

#858 new sqw design
  documentation/add/07-sqw_redesign.md
  documentation/diagrams/DND-inheritance.png
  documentation/diagrams/axes_block.png
  documentation/diagrams/dnd.png
  documentation/diagrams/new_projection.png
  documentation/diagrams/sqw-dnd.png
  documentation/diagrams/sqw-dnd_new-head_design.png
  documentation/diagrams/sqw-dnd_new.drawio
  documentation/diagrams/sqw-dnd_plot_interface.png
  documentation/diagrams/sqw.png
  documentation/presentations/MatlabHoraceDesign.pptx
  documentation/presentations/SQW&GenericProjectionDesigh.pptx
  documentation/presentations/SQW&GenericProjectionDesigh2022_10_20.pptx
Labels: documentation, DO_NOT_CI, do-not-build

#884 Misc fixes which means slurm commands now work
  herbert_core/classes/MPIFramework/@ClusterSlurm/ClusterSlurm.m
  herbert_core/classes/MPIFramework/@ClusterSlurm/private/check_pending_state_.m
  herbert_core/classes/MPIFramework/@ClusterSlurm/private/get_sacct_text_from_system_.m
  herbert_core/classes/MPIFramework/@ClusterWrapper/ClusterWrapper.m
  herbert_core/classes/MPIFramework/@ClusterWrapper/private/check_progress_from_messages_.m
Labels: bug

#864 Improvements to documentation
  documentation/user_docs/docs/Horace_manual.rst
  documentation/user_docs/docs/Unsorted.rst
  documentation/user_docs/docs/conf.py
  documentation/user_docs/docs/developers/Developer_info.rst
  documentation/user_docs/docs/introduction/Download_and_setup.rst
  documentation/user_docs/docs/manual/Advanced_Multifit.rst
  documentation/user_docs/docs/manual/Changing_Horace_settings.rst
  documentation/user_docs/docs/manual/Fitting.rst
  documentation/user_docs/docs/manual/Generating_SQW_files.rst
  documentation/user_docs/docs/manual/Herbert.rst
  documentation/user_docs/docs/manual/Horace_and_Libisis_installation.rst
  documentation/user_docs/docs/manual/Multifit.rst
  documentation/user_docs/docs/manual/New.rst
  documentation/user_docs/docs/manual/Parallel.rst
  documentation/user_docs/docs/manual/Tobyfit.rst
  documentation/user_docs/docs/manual/s_new.rst
  documentation/user_docs/docs/user_guide/Advanced_use.rst
  documentation/user_docs/docs/user_guide/Getting_started.rst
  herbert_core/classes/MPIFramework/@parallel_config/parallel_config.m
  horace_core/configuration/@hpc_config/hpc_config.m
Labels: documentation, DO_NOT_CI

#909 Remove printing in parallel calls
  _test/common_functions/JETester.m
  _test/common_functions/JETesterSendData.m
  _test/common_functions/JETesterWithData.m
  _test/common_functions/JEwithLogTester.m
Labels: bug, Testing

#912 Add parallel debug option to parallel config (hidden)
  herbert_core/classes/MPIFramework/@ClusterWrapper/ClusterWrapper.m
  herbert_core/classes/MPIFramework/@parallel_config/parallel_config.m
Labels: Design

#867 Add new ADR on single-file FB
  documentation/adr/0023-error-format.md
  documentation/adr/0024-page-to-single-file.md
Labels: documentation, DO_NOT_CI
