Repository pace-neutrons/Horace, pull requests merged in 2023-10, with the labels that each got.

#1282 Further updates for the docs URL
  documentation/user_docs/README.md
Labels: DO_NOT_CI

#1229 Rewrite reshaping docs to reflect latest state
  documentation/user_docs/docs/Horace_manual.rst
  documentation/user_docs/docs/Unsorted.rst
  documentation/user_docs/docs/manual/Reshaping_etc.rst
Labels: documentation, do-not-build

#1236 Update getting started docs as well as unary ops
  documentation/user_docs/docs/manual/Unary_operations.rst
  documentation/user_docs/docs/user_guide/Getting_started.rst
Labels: documentation, DO_NOT_CI

#1247 Add images to symmetrise docs
  documentation/user_docs/docs/images/Energy_Slice.png
  documentation/user_docs/docs/images/Energy_Slice_Sym.png
  documentation/user_docs/docs/images/cut_sym_1.png
  documentation/user_docs/docs/images/cut_sym_2.png
  documentation/user_docs/docs/images/cut_sym_3.png
  documentation/user_docs/docs/images/cut_sym_4.png
  documentation/user_docs/docs/images/cut_sym_orig_highlight3.png
  documentation/user_docs/docs/images/sym1.png
  documentation/user_docs/docs/images/sym2.png
  documentation/user_docs/docs/images/unsym.png
  documentation/user_docs/docs/manual/Symmetrising_etc.rst
Labels: documentation, DO_NOT_CI

#1237 Add spherical cut documentation
  documentation/user_docs/docs/manual/Manipulating_and_extracting_data_from_SQW_files_and_objects.rst
Labels: documentation, DO_NOT_CI

#1245 Update simulation docs
  documentation/user_docs/docs/manual/Simulation.rst
Labels: documentation, DO_NOT_CI

#1248 Add Example scripts from IDAaaS
  documentation/user_docs/docs/Example_scripts.rst
  documentation/user_docs/docs/example_scripts/advanced_plotting.m
  documentation/user_docs/docs/example_scripts/advanced_plotting.rst
  documentation/user_docs/docs/example_scripts/align_and_symmetrise.m
  documentation/user_docs/docs/example_scripts/align_and_symmetrise.rst
  documentation/user_docs/docs/example_scripts/basic_usage.m
  documentation/user_docs/docs/example_scripts/basic_usage.rst
  documentation/user_docs/docs/example_scripts/corrections.m
  documentation/user_docs/docs/example_scripts/corrections.rst
  documentation/user_docs/docs/example_scripts/data_corrections.m
  documentation/user_docs/docs/example_scripts/data_corrections.rst
  documentation/user_docs/docs/example_scripts/gpo_fitting_spinw.m
  documentation/user_docs/docs/example_scripts/gpo_fitting_spinw.rst
  documentation/user_docs/docs/example_scripts/horace_whole_course_full_script.m
  documentation/user_docs/docs/example_scripts/horace_whole_course_full_script.rst
  documentation/user_docs/docs/example_scripts/sample_misalignment.m
  documentation/user_docs/docs/example_scripts/sample_misalignment.rst
  documentation/user_docs/docs/example_scripts/simulation_fitting.m
  documentation/user_docs/docs/example_scripts/simulation_fitting.rst
  documentation/user_docs/docs/example_scripts/spinw_gpo_1dfit.m
  documentation/user_docs/docs/example_scripts/spinw_gpo_1dfit.rst
  documentation/user_docs/docs/example_scripts/spurions.m
  documentation/user_docs/docs/example_scripts/spurions.rst
  documentation/user_docs/docs/example_scripts/sqwgeneration_tips.m
  documentation/user_docs/docs/example_scripts/sqwgeneration_tips.rst
  documentation/user_docs/docs/example_scripts/symmetrisation.m
  documentation/user_docs/docs/example_scripts/symmetrisation.rst
  documentation/user_docs/docs/index.rst
Labels: documentation, DO_NOT_CI

#1334 Remove fitting button from GUI
  horace_core/GUI/horace.fig
Labels: bug, DO_NOT_CI

#1306 Fix issue with multifit on dnd objects
  horace_core/sqw/@SQWDnDBase/mask_points.m
  horace_core/sqw/coord_transform/@line_proj/private/transform_img_to_hkl_.m
Labels: bug, Tobyfit

#1312 Remove Advanced multifit from main docs
  documentation/user_docs/docs/Horace_manual.rst
  documentation/user_docs/docs/Unsorted.rst
  documentation/user_docs/docs/manual/Advanced_Multifit.rst
  documentation/user_docs/docs/manual/Multifit.rst
Labels: documentation, DO_NOT_CI

#1339 Replace all instances of mEv with meV
  _test/test_IX_classes/test_IX_axis.m
  _test/test_transformation/test_proj_captions.m
  horace_core/sqw/axes_blocks/@sphere_axes/sphere_axes.m
  horace_core/sqw/coord_transform/@sphere_proj/sphere_proj.m
Labels: bug

#1315 Update FAQ, add previous version page, remove privacy policy
  documentation/user_docs/docs/Previous_versions.rst
  documentation/user_docs/docs/Privacy_policy.rst
  documentation/user_docs/docs/index.rst
  documentation/user_docs/docs/manual/FAQ.rst
Labels: documentation, DO_NOT_CI

#1332 Update plotting docs
  documentation/user_docs/docs/manual/Generating_SQW_files.rst
  documentation/user_docs/docs/manual/Plotting.rst
Labels: documentation, DO_NOT_CI

#1308 Update Planning a Horace Scan docs
  documentation/user_docs/docs/manual/Planning_a_Horace_scan.rst
Labels: documentation, DO_NOT_CI

#1309 Update Data diagnostics documentation
  documentation/user_docs/docs/Horace_manual.rst
  documentation/user_docs/docs/manual/Data_diagnostics.rst
Labels: documentation, DO_NOT_CI

#1311 Update and fix issues with legacy multifit converter
  tools/mf_leg_to_new.py
Labels: Python, DO_NOT_CI

#1317 Update docs for settings/multifit/parallel; reorder manual
  documentation/user_docs/docs/Horace_manual.rst
  documentation/user_docs/docs/manual/Changing_Horace_settings.rst
  documentation/user_docs/docs/manual/Multifit.rst
  documentation/user_docs/docs/manual/Parallel.rst
Labels: documentation, DO_NOT_CI

#1249 Update `input_file_formats` and remove old example scripts
  documentation/user_docs/docs/Unsorted.rst
  documentation/user_docs/docs/User_guide.rst
  documentation/user_docs/docs/manual/Input_file_formats.rst
Labels: documentation, DO_NOT_CI

#927 Add ADD updating single-filebacked
  documentation/add/10_single_filebacked_operations.md
Labels: documentation, DO_NOT_CI, do-not-build
