Repository pace-neutrons/Horace, pull requests merged in 2024-02, with the labels that each got.

#1520 Fix CI by removing R when loading matlab module only
  tools/build_config/Jenkinsfile
Labels: bug, CI

#1516 documentation to spherical projection
  documentation/user_docs/docs/Horace_manual.rst
  documentation/user_docs/docs/conf.py
  documentation/user_docs/docs/images/Fe_cut1D.png
  documentation/user_docs/docs/images/Spherical_Coordinates_fig_source.pptx
  documentation/user_docs/docs/images/iv_hkl.png
  documentation/user_docs/docs/images/iv_hkl_dE.png
  documentation/user_docs/docs/images/powder_avrg.png
  documentation/user_docs/docs/images/spher_coordinates.png
  documentation/user_docs/docs/images/spin_w_intensity_1D.png
  documentation/user_docs/docs/images/spin_w_theta_av.png
  documentation/user_docs/docs/images/spin_w_tiny.png
  documentation/user_docs/docs/manual/Changing_object_type.rst
  documentation/user_docs/docs/manual/Correcting_for_sample_misalignment.rst
  documentation/user_docs/docs/manual/Cutting_data_of_interest_from_SQW_files_and_objects.rst
  documentation/user_docs/docs/manual/FAQ.rst
  documentation/user_docs/docs/manual/List_of_functions.rst
  documentation/user_docs/docs/manual/Manipulating_and_extracting_data_from_SQW_files_and_objects.rst
  documentation/user_docs/docs/manual/Reshaping_etc.rst
  documentation/user_docs/docs/manual/Save_and_load.rst
  documentation/user_docs/docs/manual/Special_sqw_information.rst
  documentation/user_docs/docs/manual/Symmetrising_etc.rst
  documentation/user_docs/docs/user_guide/Getting_started.rst
  horace_core/sqw/@SQWDnDBase/SQWDnDBase.m
  horace_core/symop/@Symop/Symop.m
Labels: do-not-build

#1535 Attempt to fix doc build
  documentation/user_docs/docs/API_Reference.bak
  documentation/user_docs/docs/conf.py
  documentation/user_docs/docs/index.rst
Labels: documentation, do-not-build

#1537 Check for `sqw-dnd` and user documentaion explaining it
  _test/test_sqw_pageOpMethods/test_binary_ops.m
  documentation/user_docs/docs/manual/Binary_operations.rst
Labels: documentation, do-not-build

#1551 inaccuracies and improvements to docs about binary operations
  documentation/user_docs/docs/manual/Binary_operations.rst
Labels: documentation, DO_NOT_CI

#1550 Better image showing spherical coordinate system
  documentation/user_docs/docs/images/Spherical_Coordinates_fig_source.pptx
  documentation/user_docs/docs/images/spher_coordinates.png
  documentation/user_docs/docs/manual/Cutting_data_of_interest_from_SQW_files_and_objects.rst
Labels: documentation, DO_NOT_CI, do-not-build

#1564 Remove dq_mat from distributed items
  herbert_core/applications/multifit/@mfclass/distribute_fit_data.m
Labels: bug, Tobyfit, Parallel

#1575 description of bugfix release 3.6.4
  VERSION
  documentation/release_notes/v3.6.4.md
  horace_core/sqw/@SQWDnDBase/SQWDnDBase.m
Labels: DO_NOT_CI, do-not-test, do-not-build

#1577 bugfix info transferred from branch rel_3_6
  documentation/release_notes/v3.6.4.md
Labels: documentation, DO_NOT_CI, do-not-test, do-not-build

#1580 Fix rel3.6 jenkins
  tools/build_config/Jenkinsfile
Labels: bug, CI, DO_NOT_CI
