Repository pace-neutrons/Horace, pull requests merged in 2024-05, with the labels that each got.

#1484 Migrate get_syms and mf_legacy... to admin
  horace_core/admin/get_syms.m
  horace_core/admin/get_syms.py
  horace_core/admin/mf_leg_to_new.py
  horace_core/admin/mf_legacy_to_new.m
Labels: Python, DO_NOT_CI

#1648 changes to cut documentation
  documentation/user_docs/docs/images/4-element-diag.png
  documentation/user_docs/docs/images/4-element-diag.tex
  documentation/user_docs/docs/images/cylinder_proj_coordinates.png
  documentation/user_docs/docs/images/cylinder_proj_coordinates.tex
  documentation/user_docs/docs/images/cylindrical_cuts_1D.png
  documentation/user_docs/docs/images/cylindrical_cuts_2D.png
  documentation/user_docs/docs/images/hull.png
  documentation/user_docs/docs/images/hull.tex
  documentation/user_docs/docs/images/orthogonal_vs_nonorthogonal_proj.png
  documentation/user_docs/docs/images/sphere_proj_coordinates.png
  documentation/user_docs/docs/images/sphere_proj_coordinates.tex
  documentation/user_docs/docs/images/sphere_proj_graph.jpg
  documentation/user_docs/docs/images/sphere_proj_graph.tex
  documentation/user_docs/docs/images/symexample.png
  documentation/user_docs/docs/manual/Cutting_data_of_interest_from_SQW_files_and_objects.rst
Labels: documentation, DO_NOT_CI, do-not-build

#1647 Add `warnonce` function to trigger a warning only once
  _test/test_utilities/test_warnonce.m
  herbert_core/utilities/general/warnonce.m
Labels: Design

#1667 Update front-page for clarity
  README.md
Labels: documentation, DO_NOT_CI

#1642 Add doc describing how to convert Horace 3 -> 4
  documentation/user_docs/docs/User_guide.rst
  documentation/user_docs/docs/user_guide/Horace3_to_4.rst
Labels: documentation, DO_NOT_CI

#1644 Standardise deprecations
  _test/test_utilities/test_projaxes_deprecation.m
  documentation/user_docs/docs/user_guide/Horace3_to_4.rst
  herbert_core/configuration/herbert_config.m
  horace_core/algorithms/write_spe_to_sqw.m
  horace_core/fake_data.m
  horace_core/horace_cut_nan_inf.m
  horace_core/horace_info_level.m
  horace_core/sqw/@sqw/symmetrise_sqw.m
  horace_core/symop/@Symop/Symop.m
  horace_core/utilities/@MagneticIons/fix_magnetic_ff.m
  horace_core/utilities/depecating/axes_block.m
  horace_core/utilities/depecating/ortho_axes.m
  horace_core/utilities/depecating/ortho_proj.m
  horace_core/utilities/depecating/projaxes.m
  horace_core/utilities/depecating/spher_axes.m
  horace_core/utilities/depecating/spher_proj.m
Labels: Technical Debt

#1691 Small addition to description of `head` command
  documentation/user_docs/docs/manual/Special_sqw_information.rst
Labels: documentation, DO_NOT_CI, do-not-build

#1689 Changes to projection documentation
  documentation/user_docs/docs/API_Reference.bak
  documentation/user_docs/docs/images/cylinder_proj_coordinates.png
  documentation/user_docs/docs/images/cylinder_proj_coordinates.tex
  documentation/user_docs/docs/images/sphere_proj_coordinates.png
  documentation/user_docs/docs/images/sphere_proj_coordinates.tex
  documentation/user_docs/docs/manual/Cutting_data_of_interest_from_SQW_files_and_objects.rst
Labels: documentation, DO_NOT_CI, do-not-build

#1687 alignment documentation
  documentation/user_docs/docs/manual/Correcting_for_sample_misalignment.rst
  horace_core/lattice_functions/bragg_positions.m
  horace_core/lattice_functions/refine_crystal.m
Labels: documentation, DO_NOT_CI, do-not-build

#1697 proj scales doc
  _test/test_transformation/test_cylinder_proj.m
  documentation/user_docs/docs/images/powder_avrg.png
  documentation/user_docs/docs/manual/Cutting_data_of_interest_from_SQW_files_and_objects.rst
  horace_core/sqw/coord_transform/@CurveProjBase/private/check_combo_arg_.m
  horace_core/sqw/coord_transform/@cylinder_proj/private/get_img_scales_.m
Labels: documentation, DO_NOT_CI, do-not-build
