Repository pace-neutrons/Horace, pull requests merged in 2025-02, with the labels that each got.

#1449 Remove ok, mess from `size_array_split` to avoid error obfuscation
  herbert_core/utilities/classes/@data_op_interface/binary_op_manager.m
  herbert_core/utilities/classes/@object_lookup/private/split_args.m
  herbert_core/utilities/classes/@testsigvar/private/binary_op_manager.m
  herbert_core/utilities/general/size_array_split.m
Labels: enhancement

#1614 Fix docs (Duc assigned)
  documentation/user_docs/docs/example_scripts/dnd_vs_sqw.rst
  documentation/user_docs/docs/example_scripts/horace_diagnostics.rst
  documentation/user_docs/docs/manual/Binary_operations.rst
  documentation/user_docs/docs/manual/Correcting_for_sample_misalignment.rst
  documentation/user_docs/docs/manual/Cutting_data_of_interest_from_SQW_files_and_objects.rst
  documentation/user_docs/docs/manual/FAQ.rst
  documentation/user_docs/docs/manual/Generating_SQW_files.rst
  documentation/user_docs/docs/manual/List_of_functions.rst
  documentation/user_docs/docs/manual/Save_and_load.rst
  documentation/user_docs/docs/manual/Script_for_correcting_sample_misalignment.rst
  documentation/user_docs/docs/manual/Script_for_data_treatment.rst
  documentation/user_docs/docs/manual/Script_for_fitting.rst
  documentation/user_docs/docs/manual/Script_for_generating_sqw_files.rst
  documentation/user_docs/docs/manual/Script_for_making_cuts_and_plotting.rst
  documentation/user_docs/docs/manual/Script_for_making_publication_quality_figures.rst
  documentation/user_docs/docs/manual/Script_for_making_simulations.rst
  documentation/user_docs/docs/manual/Script_for_planning_an_experiment.rst
  documentation/user_docs/docs/manual/Tobyfit.rst
  documentation/user_docs/docs/user_guide/Example_scripts.rst
  documentation/user_docs/docs/user_guide/Horace3_to_4.rst
  documentation/user_docs/docs/user_guide/Interfacing_with_other_programs.rst
  documentation/user_docs/docs/user_guide/Resolution_convolution.rst
Labels: documentation, DO_NOT_CI

#958 Add parallel multifit tests
  _test/test_IX_classes/test_IX_dataset_1d_ops1_2_Part1.m
  _test/test_IX_classes/test_sigvar_ops1_2_Part1.m
  _test/test_multifit/test_parallel_mf.m
  herbert_core/utilities/classes/@data_op_interface/binary_op_manager.m
  herbert_core/utilities/general/size_array_split.m
Labels: Parallel, Testing
